<p>Add New Pokemon</p>

<form action="/pokemons" method ="post" >
  <label>Name:</lable>
    <input name="name">

  <label>CP:</lable>
    <input name="cp" >

  <label>Type</lable>
    <input name="poke_type" >

  <label>IMG</lable>
    <input name="img_url" >

    <input type="submit" value="Create">
  </form>
