<h3><a href='/trainers'>****Select Trainer****</a></h3>
<p><a href='/pokemons'>***View Pokemons***</a></p>
<p><a href='/new'>**Add New Pokemons**</a></p>
<p><a href='/new'>*Edit/Remove Pokemons*</a></p>
