<h1><%= @trainer.name %></h1>
<p><img class= "trainer" src="<%= @trainer.photo_url %>"></a></p>
<p class="para"><a href="/trainers/trainer<%= @trainer.id %>/catch_pokemon">CATCH POKEMONS!</a></p>
<audio autoplay>
<source src="<%= @trainer.sound %>" type="audio/mp3">
</audio>
